
/*====================================================================================
=            Section  whole body  (*)      =
=============================================*/

*{
  margin: 0px;
  padding: 0px;
}

body {
  color: white;
  font-family: sans-serif;
 
  margin: 0px auto;


}

img:hover{
  transition: 200ms ease;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}


li:hover{
  width : 70px;
  height:40px;
  background-color: #bd1111;
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}


h1{
  color: black;
  font-size: 48px;


}

/*====================================================================================
=            Section  navbar            =
=============================================*/

.navbar{
  width: auto;
}

.site-title{
  box-shadow: 0 0 20px 5px #111;
  border-radius: 14px;
}

.navbar-toggler{
  background-color: white;
}



/*=============================================
=            Section  body-conatiner            =
=============================================*/

.body-container{
  width: auto;
  margin:0px;
}

.navbar-brand:hover{
  width:160px;
  height:40px;
  background-color: #bd1111;

  transition: 200ms ease;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}


/*====================================================================================
 = Section  body-conatiner  Section  body-column          

/*=============================================
=            Section  body-upper            =
=============================================*/

.title-img{

  height:auto;
  border-radius: 25px;

}






/*=============================================
=            Section  body-middle            =
=============================================*/


.middle-section{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}




/*=============================================
=            Section  body-down            =
=============================================*/

.card{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  padding: 200px;
}

.card-1 > img {
 height: 278px;
}

.btn:hover{

  width : 180px;
  
  background-color: #bd1111;
  transform: translateY(5px);


  transition: 200ms ease;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}





/*====================================================================================
=            side-section            =
=============================================*/

.side-img:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}


.side-section{
  display: flex;
  justify-content: center;
  

  
}

.side-container{
  width: 100px;

  margin-top: 50px;
  border-radius: 50%;
}

.side-container > img{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 100px;
  
}


/*====================================================================================
=            Section  footer          =
=============================================*/

footer{
  color:black;
}













/*Section  Media Queries   responsivness */
/*====================================================================================*/

@media screen and (max-width:851px)
{

  /*=============================================
  =            Section  body-upper            =
  =============================================*/

  .body-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .body-upper > img{
    column-width: 0px;
  }


  .title-img{

    height:auto;
    border-radius: 25px;
  }

  .body-upper > h1{
    font-size: 28px;
  }

  /*=============================================
  =            Section  body-down         =
  =============================================*/

 

  .body-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;  
   
   
  }

  .card-1{
    margin-bottom: 30px;
   
   
  }

}



@media screen and (min-width:768px){
 
}